.defaultHero,
.about-hero,
.contact-hero,
.not-found-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('https://images.pexels.com/photos/3049426/pexels-photo-3049426.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center/cover no-repeat;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: 600px) {
        height: 65vh;
    }
}

.about-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.pexels.com/photos/206130/pexels-photo-206130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media(min-width: 600px) {
        height: 40vh;
    }
}

.contact-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://images.pexels.com/photos/270694/pexels-photo-270694.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media(min-width: 600px) {
        height: 40vh;
    }
}

.not-found-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.pexels.com/photos/206130/pexels-photo-206130.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}