.defaultHero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
        url('https://images.pexels.com/photos/3049426/pexels-photo-3049426.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center/cover no-repeat;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: 600px) {
        height: 65vh;
    }
}