@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Odibee+Sans&family=Oswald:wght@300&family=Roboto:wght@100&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Assistant:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #FDFDFD;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

img {
    width: 100%;
}

p {
    color: #555555;
    line-height: 3rem;
    font-size: 2rem;
}

h2 {
    color: #513C2C;
}

button {
    border: none;
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
}

.not-found-container {
    a {
        font-size: 2.3rem;
        color: #fff;
        margin-top: 2rem;
        display: block;
        background-color: #513C2C;
        text-align: center;
        padding: 1.5rem 0;
        font-weight: 800;
        border-radius: .3rem;

        &:hover {
            background-color: #FDFDFD;
            color: #000;
            transition: .3s ease-in;
        }
    }
}

.load-more-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .load-more {
        background-color: #513C2C;
        padding: 1rem 3rem;
        color: #fff;
        display: block;
        margin-top: 2rem;

        &:hover {
            background-color: #000;
            color: #fff;
            transition: .3s ease-in;
        }
    }
}


h1 {
    font-family: 'Oswald', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.all-products-container {
    margin: 0rem 2rem;

    .all-products-title {
        font-size: 3rem;
        font-weight: 500;
        padding: 4rem 0 2rem 0;
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
}

.cart-title {
    font-size: 3rem;
    padding-top: 4rem;
}

.empty-cart {
    font-size: 2rem;
    margin-top: 1rem;
}

.cart-title,
.empty-cart {
    text-align: center;
}

.about-details {
    margin: 0 2rem;

    .about-content {
        margin: 0 auto;
        padding-top: 3rem;
    }
}


/* .contact-section {
  display: flex;
} */
.contact-container {
    margin: 5rem 2rem 0 2rem;

    .contact-form {
        background-color: #EAEAEA;
        padding: 2rem 3rem;
        border-radius: .5rem;
        margin: auto;

        input,
        textarea {
            width: 100%;
            padding: 1.3rem;
            outline: none;
            margin: 1rem 0 2rem 0;
            border: 1px solid #ccc;
            line-height: 2.3rem;
            font-size: 1.6rem;
            color: #555555;
        }

        textarea {
            padding: 2.5rem;
        }

    }
}

.form-group label {
    font-size: 2rem;
    margin-top: 3rem;

    span {
        color: #EA3546;
    }
}

.spam {
    text-align: center;
    margin: 1.5rem 0;
    color: #1B1F3B;
}

.contact-form form button {
    padding: 1.5rem 12rem;
    font-size: 2rem;
    background-color: #02182B;
    color: #FDFDFD;
    border-radius: .3rem;
    display: block;
    margin: auto;
}

// .input-flex {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-gap: 3rem;
// }

// .input-flex input {
//     width: 50%;
// }


//Shop page styles
@media(min-width: 600px) {
    .all-products-container {
        margin: 0rem 10rem;

        .all-products-title {
            font-size: 3rem;
            font-weight: 700;
            padding: 6rem 0 2rem 0;
        }

        .product-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2rem;
        }
    }

    .cart-item-container {
        margin: 0rem 10rem;
    }

    .load-more-container {
        .load-more {
            padding: 1.5rem 5rem;
            font-size: 1.5rem;
            margin-top: 2.5rem;
        }
    }

    .about-details {
        .about-content {
            margin: 0 auto;
            padding-top: 3rem;
        }

    }
}

.about-title {
    color: #FEFFBE;
    font-size: 3rem;
    font-family: 'Architects Daughter', cursive;
}

@media(min-width: 992px) {
    .all-products-container {
        margin: 0rem 15rem;

        .product-list {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .cart-item-container {
        margin: 0rem 15rem;
    }

    .about-title {
        font-size: 5rem;
    }

    .about-details {
        margin: 0 15rem;

        .about-content {
            width: 60%;
            margin: 0 auto;
            padding-top: 3rem;
        }

    }
}

// font-family: 'Barlow', sans-serif;
// font-family: 'Odibee Sans', cursive;
// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto', sans-serif;