.banner-container {
    text-align: center;

    h1 {
        color: #F1D302;
        font-size: 2.3rem;
    }

    h2 {
        color: #FBF5F3;
        font-size: 2rem;
    }

    .shop-now-btn {
        padding: 1.5rem 4rem;
        outline: none;
        border: none;
        background-color: #000000;
        color: #FBF5F3;
        font-size: 1.6rem;
        margin-top: 2rem;
        border-radius: .5rem;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: #FBF5F3;
            color: #000;
            transition: .3s ease-in;
        }
    }

    @media(min-width: 600px) {
        h1 {
            font-size: 3rem;
            line-height: 4.3rem;
            font-weight: 700;
            letter-spacing: .5rem;
        }

        h2 {
            font-size: 2.3rem;
            line-height: 4rem;
        }

        .shop-now-btn {
            padding: 1rem 3rem;
            font-size: 2rem;
            margin-top: 2.3rem;
        }
    }

    @media(min-width: 992px) {
        h1 {
            font-size: 5rem;
            color: #F1D302;
            line-height: 4.7rem;
            font-weight: 700;
            letter-spacing: .5rem;
        }

        h2 {
            font-size: 3rem;
            color: #FBF5F3;
            line-height: 4.5rem;
        }

        .shop-now-btn {
            padding: 1.5rem 6rem;
            font-size: 2rem;
            margin-top: 2.5rem;
        }

    }
}