@media(min-width: 600px) {
    .main-section-container {
        margin-top: 6rem;
        padding: 4rem;
        background-color: #513C2C;

        .main-section-middle {
            margin: 0 20rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border: 1px solid #ccc;

            .main-description {
                padding: 2.5rem;

                h2 {
                    font-size: 3rem;
                    color: #fff;
                }

                p {
                    font-size: 2rem;
                    color: #fff;
                }

                .coffee-btn {
                    padding: 1.5rem 4rem;
                    font-size: 1.5rem;
                    background-color: #000000;
                    color: #ffffff;
                    margin-top: 2rem;
                }
            }
        }
    }
}